*{
    box-sizing: border-box;
    font-size: 15px;
    font-family: sans-serif;
}
canvas{
    display: none;
}
body{
    height: 100vh;
    padding: 0;
    margin: 0;
    background-color: #00DBDE;
    background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
    
}
.big-window{
    width: calc(100% - 200px);
    height: calc(100% - 200px);
    display: grid;
    grid-template-columns: 2fr 0.9fr;
    grid-template-rows: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    box-shadow: 0px 0px 9px -1px;
    border-radius: 10px;
    overflow: hidden;
    
}
@media screen and (max-width: 950px) {
    .big-window{
        display: flex;
        flex-direction: column;
        height: 100%;
        max-width: calc(100% - 42px);
        margin: 80px 0 80px;
        width: 100%;
    }
    .options{
        overflow-x: hidden !important;
        height: 78%;
    }
    body{
        height: 120vh;
    }
}
.options{
    background-image: linear-gradient( 111.4deg,  rgba(27,24,113,1) 6.5%,rgba(7,7,9,1)  93.2% );
    overflow: scroll;
    height: calc(103%);
}
/* width */
.options::-webkit-scrollbar {
width: 5px;
}

/* Track */
.options::-webkit-scrollbar-track {
    background: #b7b7b7;
}

/* Handle */
.options::-webkit-scrollbar-thumb {
    background: #818181;
}

/* Handle on hover */
.options::-webkit-scrollbar-thumb:hover {
background: #555;
}

.result{
    height:min-content;
    margin-top: 70px;

}
.resultt{
    display: none;
    height:min-content;
    margin-top: 70px;
}
.picture{
    border-right: solid 1px #080802;
    display: flex;
    align-items: center;
    /* background-color: #303030; */
    background-color: black;
    background: rgb(196,254,255);
    background: linear-gradient(180deg, rgb(176 202 255) 0%, rgba(88,110,110,1) 34%, rgba(0,0,0,1) 61%);
    justify-content: center;
}


.choose-picture {
    width: 100%;
    height: 50px;
    text-align: center;
    margin: 50px 0 30px;
}
.choose-picture label{
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    padding: 20px;
    line-height: 100%;
    text-align: center;
    color: black;
    font-size: 20px;
    font-family: sans-serif;
    border-radius: 16px;
    cursor: pointer;
}
.picture img{
    max-width:80% ;
    max-height: 80%;
    border: solid black 2px;

}

.func1, .slider{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}
.slider{
    width: 70%;
    margin-bottom: 20px;
}
.slider .filter{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.func1Slider{
    width: 90%;
}
.slider input{
    width: 100%;
}
.slider:hover{
    opacity: 1;
}
.slider span{
    align-self: flex-start;
    padding: 0 0 3px 0 ;
    color: white;
}
.grayScale{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.button1,.button2,.button0,.button3 {
    margin-bottom: 10px;
} 
.button1 button{
    padding: 17px 31px!important;
}
.button2 button, .button1 button ,.button0 button,.button3 button{
    padding: 17px 20px;
    font-size: 17px;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    line-height: 100%;
    text-align: center;
    color: black;
    font-family: sans-serif;
    border-radius: 7px;
    cursor: pointer;
    border: none;
}
.histoButtons{

    display: flex;
    padding: 5px;
    flex-direction: column;
    align-items: center;
}
